<!doctype html>
<html lang='en' ng-app>
  <head>
   <title>Book Shopping Cart</title>

  <script src="js/angular10.js"></script>
  <script>
    function CartControler($scope) {

      // create new data object to hold a new book
      // this would allow for additinal data items to be added to the controller
      // similar to Vue.js data() {}
      var data = {
        book: {
          title: 'New Book',
          qty: 1,
          price: 10.99
        }
      }

      // grab saved books from storage or use predefined list
      $scope.books = JSON.parse(window.localStorage.getItem('barker_cart')) || [
        {title: 'Absolute Java',
            qty: 1, price: 114.95},
        {title: 'Pro HTML5',
            qty: 1, price: 27.95},
        {title: 'Head First HTML5',
            qty: 1, price: 27.89}
      ];

      $scope.removeBook = function(index) {
        $scope.books.splice(index, 1);
      }

      // add a new book to the book array
      $scope.addBook = function() {
        $scope.books.push(data.book)
      }

      // store the books
      $scope.save = function() {
        window.localStorage.setItem('barker_cart', JSON.stringify($scope.books))
      }

      /**
       * Adapted from https://stackoverflow.com/a/42217585/8473614
       */
      $scope.getTotal = function() {
        var total = 0;
        angular.forEach($scope.books, function(key, value) {
          total += key.price * key.qty;
        });
        return total;
      }
    }
  </script>
  <link rel="stylesheet" href="css/ex05.css">
  </head>

  <body ng-controller="CartControler">

    <table>
      <caption><b>My Books</b></caption>
      <thead>
        <tr>
            <th>Title</th>
            <th>Qty</th>
            <th>UnitPrice</th>
            <th>Item Total</th>
            <th>Total: {{ getTotal() | currency }}  </th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="book in books">
            <td><input ng-model="book.title"
            value="{{book.title}}"></td>
            <td>
                <input ng-model="book.qty" size="2">
            </td>
            <td><input ng-model="book.price" value="{{book.price | currency}}"></td>
            <td>{{book.price * book.qty | currency}}</td>
            <td>
                <button ng-click="removeBook($index)">
                    Remove
                </button>
            </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <button ng-click="addBook()">New</button>
          </td>
          <td colspan="3" align="right">
            <button ng-click="save()">Save</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>


