<!doctype html>
<html lang='en' ng-app="myApp">
  <head>
   <title>Book Shopping Cart</title>

  <script src="js/angular10.js"></script>
  <script src="js/hw3_cart.js"></script>
  <link rel="stylesheet" href="css/ex05.css">
  </head>

  <body ng-controller="CartController">

    <table>
      <caption><b>My Books</b></caption>
      <thead>
        <tr>
            <th>Title</th>
            <th>Qty</th>
            <th>UnitPrice</th>
            <th>Item Total</th>
            <th>Total: {{ getTotal() | currency }}  </th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="book in books">
            <td><input ng-model="book.title"
            value="{{book.title}}"></td>
            <td>
                <input ng-model="book.qty" size="2">
            </td>
            <td><input ng-model="book.price" value="{{book.price | currency}}"></td>
            <td>{{book.price * book.qty | currency}}</td>
            <td>
                <button ng-click="removeBook($index)">
                    Remove
                </button>
            </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <button ng-click="addBook()">New</button>
          </td>
          <td colspan="3" align="right">
            <button ng-click="save()">Save</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>


