<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Directions Service
  </h1>
</div>
From:
<input type="text" [(ngModel)]="from" name="from" id="inputFrom" class="form-control">
<br><br>
To:
<input type="text" [(ngModel)]="to" name="to" id="inputTo" class="form-control">
<br><br>
<button type="button" (click)="getDirections()">Get directions</button>
<br><br>
<h1>Distance: {{distance}}m - Time: {{ time }}</h1>
<table>
  <tr *ngFor="let item of directions">
    <td><img src="{{ item.iconUrl }}"></td>
    <td>{{ index }}</td>
    <td><a href="{{item.mapUrl}}" target="_blank">{{ item.narrative }}</a></td>
    <td>{{ item.distance }}m</td>
  </tr>
</table>
